<h1><%= @exercise.name %></h1>
<p>by <%= link_to @exercise.workout.name, workout_path(@exercise.workout) if @exercise.workout %> (<%= link_to "Edit exercise", edit_workout_exercise_path(@exercise.workout, @exercise) if @exercise.workout %>)</p>